<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>

  <body class="w-[100%] flex-col items-center justify-center">
    <!-- body-->
    <!-- navbar-->
    <nav
      class="flex sticky top-0 items-center justify-between flex-wrap bg-gray-200 p-6"
    >
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl text-black">Admin Dashboard</span>
      </div>
      <div class="block lg:hidden">
        <button
          class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white"
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow"></div>
        <div>
          <!-- Search Input -->

          <form
            action="/admin/search"
            method="GET"
            class="flex items-center gap-4"
          >
            <input
              type="text"
              name="query"
              placeholder="Search"
              class="px-2 py-1 border rounded focus:outline-none focus:ring focus:border-blue-300"
            />
            <button
              type="submit"
              class="inline-block text-sm px-4 py-2 leading-none border rounded text-black font-bold border-black hover:border-transparent hover:text-teal-500 hover:bg-white ml-2"
            >
              Search
            </button>
            <a
              href="/api/v1/logout"
              class="inline-block text-sm px-4 py-2 leading-none border rounded text-black font-bold border-black hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
              >logout</a
            >
          </form>
        </div>
      </div>
    </nav>

    <!--Card-->

    <% if(people.length>0) { %>
    <div class="flex flex-wrap justify-center">
      <% for (let user of people) { %>
      <div class="max-w-sm rounded overflow-hidden shadow-lg m-4">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><%= user.name %></div>
          <p class="text-gray-700 text-base">Email : <%= user.email %></p>
          <p class="text-gray-700 text-base">Role : <%= user.role %></p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <a
            href="/admin/edit/<%= user.id %>"
            class="bg-black text-white hover:bg-white hover:text-black px-3 py-1 text-sm font-semibold rounded-full mr-2 mb-2"
          >
            Edit
          </a>
          <a
            href="/admin/delete/<%= user.id %>"
            class="bg-black text-white hover:bg-white hover:text-black px-3 py-1 text-sm font-semibold rounded-full mr-2 mb-2"
          >
            Delete
          </a>
        </div>
      </div>
      <% } %>
    </div>
    <% } else { %>
    <h1 class="font-bold text-xl">No Users</h1>
    <% } %>
  </body>
</html>
